@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

html {
    --background-color: #FFFBF0;
    --text-color:  #DB7D57;
    --text-color-black: #434343;
}

h1, h2, h3, h4, p, ul, li, a, input {
    margin-block: 7px;
    font-family: Montserrat;
    color: var(--text-color);
}

h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 0.9;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 0.9;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 0.9;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
}

li, a, button {
    font-size: 18px;
    font-weight: 500;
}

li {
    list-style: none;
}

em {
    font-style: italic;
}

/* reset button stylings */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type=date] {
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;

    text-align: center;
    font-size: 18px;

    color: var(--text-color-black);
}

button[type=submit] {
    margin-block: 7px;
    width: 100px;
    border: 1px solid #434343;
    border-radius: 10px;
    padding: 5px;

    background-color: white;
    font-family: Montserrat;
    color: var(--text-color-black);
}

.inline-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    /* justify-content: center; */

    margin: 5px auto;

    img {
        width: 18px;
        height: 18px;
    }
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: baseline;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 30% 70%;
    column-gap: 20px;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

#instructions {
    grid-column-start: 2;
    grid-row-start: 1;

    justify-content: center;
    align-items: center;
}

#zodiac-grid {
    grid-column-start: 2;
    grid-row-start: 2;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-content: center;
    align-self: start;

    img {
        width: 100%;
    }
}

#top_section {
    display: none;
}

#bottom_section {
    display: none;
}